{% extends 'base.html' %}

{% block content %}
    <h2>Edit Recipe - Add Steps</h2>
    <form action="{{ url_for('main.edit_recipe_steps', recipe_id=recipe.id) }}" method="post">
        <label for="step_description">Step Description:</label>
        <textarea name="step_description" required></textarea>
        <div><input type="submit" value="Add Step"/></div>
    </form>
    <!-- Display current state of the recipe, existing steps, etc. -->
    <!--NOT SURE IF CORRECT, needs ingredients and quantities too-->
    <section>
        <h4>Recipe: {{ recipe.title }}</h4>
        <div>Author: {{ recipe.user.name }}</div>
        <div>Description: {{ recipe.description }} </div>
        <div>Servings: {{ recipe.servings }} </div>
        <div>Time to cook: {{ recipe.time }} </div>
    </section>
{% endblock %}
