<!--template for displaying the current state of the recipe and asking for the next ingredient or step-->

<!-- {% extends 'base.html' %}

{% block content %}
    <h2>Edit Recipe</h2>
    <h3>Add Ingredients</h3>
    <form action="{{ url_for('main.edit_recipe_add_ingredients', recipe_id=recipe.id) }}" method="post">
        <label for="ingredient_name">Ingredient Name:</label>
        <input type="text" name="ingredient_name" required>
        <label for="quantity">Quantity:</label>
        <input type="text" name="quantity" required>
        <label for="unit">Unit:</label>
        <input type="text" name="unit" required>
        
        <div><input type="submit" value="Add Ingredient"/></div>
    </form> -->

    <!-- Display current state of the recipe, existing ingredients, etc. -->
    <!-- {% include 'recipes/recipe_template.html' %}
{% endblock %} -->