<!-- auth is a blueprint-->
{% extends 'base.html' %}

{% block content %}
    <h2>Log in!</h2>
    <!--untested-->
    {% with messages = get_flashed_messages() %}
        {% for message in messages %}
            <div class="notification">{{ message }}</div>
        {% endfor %}
    {% endwith %}
        <form action="{{ url_for('auth.login') }}" method="post">
        <!-- <div><label>Email: <input type="email" name="email" required/></label></div> -->
        <div><label>Email: <input type="text" name="email" required/></label></div>
        <div><label>Password: <input type="password" name="password" required/></label></div>
        <!-- <div><label>Repeat password: <input type="password" name="password_repeat" required/></label></div> -->
        <div><input type="submit" value="Log In"/></div>
        <h3><a href="{{ url_for('auth.signup') }}">Sign Up!</a></h3>
    </form>
{% endblock %}